In [1]:
a = (1+2+3+4+5+6+7+8+9)

In [2]:
print(a)

45

In [6]:
#This code output will be that it will list out 1-10

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
''''''This output is to list numbers 1-10''''''
for i in range(1,11):
    print(i)

SyntaxError: invalid syntax (3416373630.py, line 1)

In [10]:
#Who are you 
print("i am a boy")

i am a boy

In [12]:
import math

In [13]:
import math
print(math.pi)

3.141592653589793

In [14]:
print("Hello from Go My Code")

Hello from Go My Code

In [15]:
from math import pi

In [16]:
print(pi)

3.141592653589793

In [ ]:
x=input()

In [ ]:
Name = input('Enter your name ')

Enter your nametemi

In [2]:
name = input(Enter name)
age = input(enter age)
print('welcome',name)
print(age)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4001953312.py, line 1)

In [2]:
name = input('what is your name')

what is your nameTemilade

In [3]:
age =input('what is your age')

what is your age355

In [6]:
print(name)

Temilade

In [7]:
print(age)

72

In [8]:
print('Welcome',name)
print(age)

Welcome Temilade
72

In [9]:
a =(1+700)

In [10]:
print(a)

701

In [11]:
l=[9,13,2]
for i in l
print(i)

SyntaxError: expected ':' (2044268335.py, line 2)

In [1]:
A = int(input('number 1'))
B = int(input('number 2'))
Final answer = A + B

SyntaxError: invalid syntax (988401394.py, line 3)

In [ ]:
import math

In [18]:
print(Almighty Formula)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (424215683.py, line 1)

In [2]:
A = int(input('number 1'))
B = int(input('number 2'))
Answer = A+B

number 112
number 21

In [3]:
print(Answer)

13